.boton {
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s ease all;

  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: center;
  line-height: 22px;
  margin: 0 3px;
  &:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
  }
}

.boton--e {
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s ease all;

  display: inline-flex;
  padding: 0 1rem;
  border-radius: 5px;

  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 3rem;
  max-height: 80px;
  font-family: $fuente;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  text-decoration: none;

  span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
  }

  &.e--1 {
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: -100%;
      left: 0;
      transition: 0.3s ease-in-out all;
      @each $listName, $list in $colorsMap {
        @each $color-name, $color in $list {
          .e-color--#{$color-name} {
            background-color: $color;
          }
        }
      }
    }
    &:hover {
      &::after {
        top: 0;
      }
    }
  }

  &.e--2 {
    &::after {
      content: "";
      width: 150%;
      position: absolute;

      z-index: 1;
      top: 0;
      left: calc(-150% - 80px);

      border-right: 80px solid transparent;

      @each $listName, $list in $colorsMap {
        @each $color-name, $color in $list {
          .e-color--#{$color-name} {
            border-bottom: 80px solid $color;
          }
        }
      }
      transition: 0.4s ease-in-out all;
    }
    &:hover {
      &::after {
        left: 0;
      }
    }
  }

  &.e--3 {
    &::after {
      content: "";
      width: 100%;
      height: 300%;
      @each $listName, $list in $colorsMap {
        @each $color-name, $color in $list {
          .e-color--#{$color-name} {
            background-color: $color;
          }
        }
      }
      position: absolute;
      z-index: 1;
      top: -300%;
      border-radius: 0 0 50% 50%;
      left: 0;
      transition: 0.4s ease-in-out all;
    }
    &:hover {
      &::after {
        top: 0;
      }
    }
  }

  &.e--4 {
    &::after {
      content: "";
      width: 1px;
      height: 1px;
      background: none;
      position: absolute;
      z-index: 1;
      top: calc(50% - 0.5px);
      left: calc(50% - 0.5px);
      transition: 0.3s ease-in-out all;
      border-radius: 100%;
      transform-origin: center;
    }
    &:hover {
      &::after {
        transform: scale(400);
        @each $listName, $list in $colorsMap {
          @each $color-name, $color in $list {
            .e-color--#{$color-name} {
              background-color: $color;
            }
          }
        }
      }
    }
  }

  &.e--5 {
    span {
      transition: 0.4s ease-in-out all;
      position: absolute;
      left: 40%;
    }
    .icono {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 2;
      left: -40px;
      opacity: 0;
      transition: 0.3s ease-in-out all;
      &:first-child {
        width: 35px;
        height: 35px;
      }
    }
    &:hover {
      @each $listName, $list in $colorsMap {
        @each $color-name, $color in $list {
          .e-color--#{$color-name} {
            background-color: $color;
          }
        }
      }
      span {
        left: 20px;
      }
      .icono {
        left: calc(100% - 50px);
        opacity: 1;
      }
    }
  }

  &.e--6 {
    background-color: transparent;
    @each $listName, $list in $colorsMap {
      @each $color-name, $color in $list {
        .e-color--#{$color-name} {
          color: $color;
        }
      }
    }
    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      fill: none;
    }
    rect {
      width: 100%;
      height: 100%;
      @each $listName, $list in $colorsMap {
        @each $color-name, $color in $list {
          .e-color--#{$color-name} {
            stroke: $color;
          }
        }
      }
      stroke-width: 10px;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      transition: 0.6s ease all;
    }
    &:hover {
      rect {
        stroke-dashoffset: 0;
      }
    }
  }
}
