.modal__overlay {
  background-color: rgba(216, 216, 216, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  display: grid;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 1.5rem;
  max-height: 80%;
  max-width: 90%;

  margin: 5%;
  box-sizing: content-box;
  position: relative;

  align-self: center;
  justify-self: center;

  display: grid;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  overflow-y: auto;
  .modal__body {
    padding: 0 auto;
  }
}

.modal__closeBtn {
  /* background-image: url("../Assets/close.svg"); */
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  right: -10;
  cursor: pointer;
  z-index: 2;
  border: none;
  background-color: rgba(1, 1, 1, 0);
  box-shadow: none;
  &:hover {
    background-color: rgba(1, 1, 1, 0);
    box-shadow: none;
  }
}
