table.primaryGridTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.primaryGridTable td, table.primaryGridTable th {
  color: $primary;
  padding: 3px 4px;
}
table.primaryGridTable tbody td {
  color: $primary;
  font-size: 13px;
}
table.primaryGridTable tr:nth-child(even) {
  background: #FFFFFF;
}
table.primaryGridTable thead {
  border-bottom: 4px solid $primary;
}
table.primaryGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: $primary;
  text-align: center;
}
table.primaryGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: $primary;
  border-top: 4px solid $primary;
}
table.primaryGridTable tfoot td {
  font-size: 14px;
}