.d--flex {
  display: flex;
}
.d--none {
  display: none;
}
.flex--column {
  flex-direction: column;
}
.justify-content--c {
  justify-content: center !important;
}
.justify-content--around {
  justify-content: space-around;
}
.justify-content--between {
  justify-content: space-between;
}
.align-items--c {
  align-items: center;
}
.align-content--c {
  align-content: center !important;
}
.scroll--auto {
  overflow: auto !important;
}

.border--radius--50 {
  border-radius: 50%;
}

.w--100 {
  width: 100%;
}

.scroll-y--auto {
  overflow-y: auto !important;
}

// HEIGTH EN VH y H
@for $i from 0 through 10 {
  .vw--#{$i} {
    width: #{$i}vw;
  }
  .w--#{$i} {
    width: #{$i * 10%};
  }
  .vh--#{$i} {
    height: #{$i * 10}vh;
  }
  .h--#{$i} {
    height: #{$i * 10%};
  }
}
/* Moviles Grandes SM */
@media only screen and (min-device-width: $sm_min-device-width) {}
/* Tablets MED */
@media only screen and (min-device-width: $med_min-device-width) {}
/* Pequeños Monitores LARG */
@media only screen and (min-device-width: $larg_min-device-width) {}
/* Resto */
@media only screen and (min-device-width: $xl_min-device-width) {}
