$blue: #0d6efd;
$blue-100: rgb(208, 227, 254);
$blue-200: rgb(160, 198, 252);
$blue-300: rgb(113, 170, 251);
$blue-400: rgb(66, 142, 250);
$blue-500: rgb(27, 115, 249);
$blue-600: rgb(20, 92, 199);
$blue-700: rgb(14, 69, 150);
$blue-800: rgb(8, 46, 100);
$blue-900: rgb(4, 23, 50);

$blueMap: (
    $blue: #0d6efd,
    $blue-100: rgb(208, 227, 254),
    $blue-200: rgb(160, 198, 252),
    $blue-300: rgb(113, 170, 251),
    $blue-400: rgb(66, 142, 250),
    $blue-500: rgb(27, 115, 249),
    $blue-600: rgb(20, 92, 199),
    $blue-700: rgb(14, 69, 150),
    $blue-800: rgb(8, 46, 100),
    $blue-900: rgb(4, 23, 50),
)