$purple: #6f42c1;
$purple-100: rgb(224, 208, 251);
$purple-200: rgb(194, 162, 248);
$purple-300: rgb(163, 117, 244);
$purple-400: rgb(133, 73, 241);
$purple-500: rgb(102, 40, 238);
$purple-600: rgb(82, 31, 191);
$purple-700: rgb(61, 22, 143);
$purple-800: rgb(41, 12, 96);
$purple-900: rgb(20, 5, 47);

$purpleMap: (
    $purple: #6f42c1,
    $purple-100: rgb(224, 208, 251),
    $purple-200: rgb(194, 162, 248),
    $purple-300: rgb(163, 117, 244),
    $purple-400: rgb(133, 73, 241),
    $purple-500: rgb(102, 40, 238),
    $purple-600: rgb(82, 31, 191),
    $purple-700: rgb(61, 22, 143),
    $purple-800: rgb(41, 12, 96),
    $purple-900: rgb(20, 5, 47),
)