* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  background: $background;
  font-family: $fuente;
  font-size: $body_font-size;
}
img {
  vertical-align: top;
  max-width: 100%;
  justify-self: center;
}
