// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400;1,700;wght@1,900&display=swap");

$fuente: "Roboto", sans-serif;
$body_font-size: 18px;
$w-conteiner: 1200px;

/*========== BREAKPOINTS ========== */
//XS
$xs_min-device-width: 0px;
$xs_max-device-width: 576px;
//SM
$sm_min-device-width: 576px;
$sm_max-device-width: 768px;
//MED
$med_min-device-width: 768px;
$med_max-device-width: 992px;
//LARG
$larg_min-device-width: 992px;
$larg_max-device-width: 1200px;
//XL
$xl_min-device-width: 1200px;
$xl_max-device-width: 1400px;
//XXL
$xxl_min-device-width: 1400px;

/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
 */
/* ============= COLORES ============= */
$border: #0075ff;
$error: #bb2929;
$error-bg: #f66060;
$success-bg: #18a362;
$background: #f2f2f2;

$primary: #28447E;
$secondary: #CC30E1;
$terciary: #76BEFF;
$success: #1ed12d;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$white: #fff;
$gray: gray;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$purple: #6f42c1;
$purple-100: rgb(224, 208, 251);
$purple-200: rgb(194, 162, 248);
$purple-300: rgb(163, 117, 244);
$purple-400: rgb(133, 73, 241);
$purple-500: rgb(102, 40, 238);
$purple-600: rgb(82, 31, 191);
$purple-700: rgb(61, 22, 143);
$purple-800: rgb(41, 12, 96);
$purple-900: rgb(20, 5, 47);

$blue: #0d6efd;
$blue-100: rgb(208, 227, 254);
$blue-200: rgb(160, 198, 252);
$blue-300: rgb(113, 170, 251);
$blue-400: rgb(66, 142, 250);
$blue-500: rgb(27, 115, 249);
$blue-600: rgb(20, 92, 199);
$blue-700: rgb(14, 69, 150);
$blue-800: rgb(8, 46, 100);
$blue-900: rgb(4, 23, 50);

/* ========= SOMBRAS ============= */
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-larg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);
