@import "./normalize";
@import "./variables/main.scss";
@import "./presets";

@import "./components/main";
@import "./animations/main";
@import "./utils/main";

.userBG{
    background: linear-gradient(85deg, #28447e, #cc30e1, #76beff);
    -webkit-animation: ChangeBgPosition 10s ease infinite;
    -moz-animation: ChangeBgPosition 10s ease infinite;
    animation: ChangeBgPosition 10s ease infinite;
    background-size: 600% 600%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}